# نادیده گرفتن محیط مجازی (خیلی مهم)
venv/
.venv/

# نادیده گرفتن فایل‌های کامپایل شده پایتون
__pycache__/
*.pyc

# نادیده گرفتن فایل‌های صوتی تستی (که حجم رو پر نکنن)
recorded_audio/
*.wav
*.mp3

# نادیده گرفتن فایل‌های سیستمی
.DS_Store